<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
<body>
    <header><h1><a href="/">Django girls Blog</a></h1></header>
    <article>
        <time>published: 4.11.2023, 15:36</time>
            <h2><a href="">My first post</a></h2>
            <p>Girls in Tech.</p>
    </article>

    <article>
        <time>published: 4.11.2023, 15:39</time>
        <h2><a href="">My second post</a></h2>
        <p>Importance of being a womentechmakers.</p>
    </article>
</body>
</html>